@import url("https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  font-family: 'Shadows Into Ligh';
  font-size: 60%;
  
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 15px;
}

.calculadora {
  display: flex;
  flex-direction: column;
  width: 500px;
  border: 1px solid gray;
  font-size: 2rem;
}
.calculadora-display {
  padding: 25px 15px;
  width: 100%;
  text-align: right;
  border: 1px solid gray;
  overflow: auto;
}

.calculadora-keypad {
  display: flex;
  width: 100%;
}
.keypad-numbers{
  display: flex;
  flex-wrap: wrap;
  width: 100%;  
}
.keypad-button{
  width: 25%;
  padding: 15px 0;
  text-align: center;
  cursor: pointer;
  background-color: white;
  border: 1px solid gray; 
}
.keypad-button:hover{
  filter: brightness(80%);
  transition: filter .25s;
}
.keypad-button.yellow{
  background-color: yellow;
}
.keypad-button.large{
  width: 50%;
}
.keypad-button.dark{
  background-color: lightgray;
}